<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://t1.kakaocdn.net/kakao_js_sdk/v1/kakao.min.js"></script>
</head>
<body>
<h1>카카오채널 가입!</h1>


<a href="javascript:void(0)" id="kakao-add-channel-button"></a>

<script>

    Kakao.init("6387b08c33ae2f39dc91edfafb65521c");
    Kakao.Channel.createAddChannelButton({
        container: "#kakao-add-channel-button",
        channelPublicId: "_CxfNnX", // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
    })
</script>

</body>
</html>