<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>(XHR)/MEMO/REST/INDEX</h1>

    <!--  LIST  -->
    <h1>/memo/rest/list</h1>
    <form name="formList" onsubmit="return false">
        <input type="text" name="pageNo" value="0">
        <input type="text" name="amount" value="10">
        <button onclick="getList()">LIST</button>
    </form>
    <hr/>
    <!--  CREATE   -->
    <h1>/memo/rest/add</h1>
    <form name="formAdd"  method="POST" onsubmit="return false">
        <div>
            <label>제목</label>
            <input name="title" />&nbsp;&nbsp;<span style="font-size:.8rem;" th:text="${title}"></span>
        </div>
        <div>
            <label>작성자</label>
            <input name="writer" /> &nbsp;&nbsp;<span style="font-size:.8rem;"th:text="${writer}"></span>
        </div>
        <div>
            <label>내용</label>
            <textarea name="text"></textarea>&nbsp;&nbsp;<span style="font-size:.8rem;" th:text="${text}"></span>
        </div>

        <div>
            <button onclick="addMemo()">저장</button>
        </div>
    </form>
    <!--  UPDATE   -->
    <hr/>
    <h1>/memo/rest/update</h1>
    <form  name="formUpdate" method="PUT" onsubmit="return false">
        <div>
            <label>ID</label>
            <input name="id" />
        </div>
        <div>
            <label>제목</label>
            <input name="title" />
        </div>
        <div>
            <label>작성자</label>
            <input name="writer" />
        </div>
        <div>
            <label>내용</label>
            <textarea name="text"></textarea>
        </div>
        <div>
            <button onclick="updateMemo()">PUT</button>
        </div>
    </form>
    <!--  DELETE   -->
    <hr/>
    <h1>/memo/rest/delete</h1>
    <form name="formDelete" method="DELETE" onsubmit="return false">
        <div>
            <label>ID</label>
            <input name="id" />
        </div>
        <div>
            <button onclick="deleteMemo()">DELETE</button>
        </div>
    </form>


    <script>
    <!--  LIST        -->
    function getList() {
        const formList = document.formList;
        const pageNo = formList.pageNo.value;
        const amount = formList.amount.value;
        const body = {};
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                // document.getElementById("text").innerHTML = httpRequest.responseText;
                // console.log("list",httpRequest.responseText);
                const data = JSON.parse(httpRequest.responseText);
                const list = data.list;
                const pageBlock = data.pageBlock;
                const page = data.page;
                console.log("list",list);
                console.log("pageBlock",pageBlock);
                console.log("page",page);
            }
        };
        // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
        httpRequest.open("GET", `/memo/rest/list?pageNo=${pageNo}&amount=${amount}`, true);
        httpRequest.setRequestHeader("Content-Type","application/json");
        httpRequest.send();
    }
    // add
    function addMemo() {
        const formAdd = document.formAdd;
        const title = formAdd.title.value;
        const text = formAdd.text.value;
        const writer = formAdd.writer.value;
        const body = {title, text, writer};
        const jsonBody = JSON.stringify(body);
        console.log(body);
        console.log(jsonBody);
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                // document.getElementById("text").innerHTML = httpRequest.responseText;
                // console.log("list",httpRequest.responseText);
                const data = JSON.parse(httpRequest.responseText);
                console.log("data",data);
            }
        };
        // // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
        httpRequest.open("POST", `/memo/rest/add`, true);
        httpRequest.setRequestHeader("Content-Type","application/json");
        httpRequest.send(jsonBody);
    }
    // update
    function updateMemo() {
        const formUpdate = document.formUpdate;
        const id = formUpdate.id.value;
        const title = formUpdate.title.value;
        const text = formUpdate.text.value;
        const writer = formUpdate.writer.value;
        const body = {id,title, text, writer};
        const jsonBody = JSON.stringify(body);
        console.log(body);
        console.log(jsonBody);
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                // document.getElementById("text").innerHTML = httpRequest.responseText;
                // console.log("list",httpRequest.responseText);
                const data = JSON.parse(httpRequest.responseText);
                console.log("data",data);
            }
        };
        // // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
        httpRequest.open("PUT", `/memo/rest/update`, true);
        httpRequest.setRequestHeader("Content-Type","application/json");
        httpRequest.send(jsonBody);
    }
    // delete
    function deleteMemo() {
        const formDelete = document.formDelete;
        const id = formDelete.id.value;
        const body = {id};
        const jsonBody = JSON.stringify(body);
        console.log(body);
        console.log(jsonBody);
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
                // document.getElementById("text").innerHTML = httpRequest.responseText;
                // console.log("list",httpRequest.responseText);
                const data = JSON.parse(httpRequest.responseText);
                console.log("data",data);
            }
        };
        // // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
        httpRequest.open("DELETE", `/memo/rest/delete`, true);
        httpRequest.setRequestHeader("Content-Type","application/json");
        httpRequest.send(jsonBody);
    }

    </script>

</body>
</html>