<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MAIN PAGE /Naver</h1>
    <a href="Naver/logout">로그아웃(동기)(/Naver/logout)</a>
    <a href="javascript:requestNaverLogin()">로그아웃(팝업창이용)</a>
    <hr/>
    <h2>naverTokenResponse</h2>
    <div th:text="${naverTokenResponse}"></div>
    <hr/>
    <h2>naverProfileResponse</h2>
    <div th:text="${naverProfileResponse}"></div>
    <hr/>

    <script>
        async function requestNaverLogin() {

            // 1) 네이버 세션 로그아웃을 "팝업"으로 처리(iframe/fetch는 네이버가 차단)
            const popup = window.open(
                "https://nid.naver.com/nidlogin.logout",
                "naverLogout",
                "width: 10,height: 10,left=0,top=0"
            )

            // 2) 포커스를 원래 창으로 되돌려 팝업 깜빡임 최소화
            if(popup) {window.focus();}

            // 3) 로그아웃 처리시간(약1.5초) 후 팝업 닫고 -> 내 페이지에서 직접이동
            setTimeout(function() {
                if(popup) popup.close();
                console.log("네이버 세션 로그아웃 완료(팝업)");
                alert("로그아웃 완료");
                lccation.href="/Naver/login"; // 다시 로그인페이지로
            },2500)
        }
    </script>
</body>
</html>