<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--  헤더 영역 가져오기  -->
<!--<th:block th:insert="~{th/fragments/header::headerFragment}"/>-->

<h1>HELLO WORLD THYMELEAF!</h1>
<!-- 기본 -->
<h2>TH : 속성값 가져오기 </h2>
이름 : <span th:text="${name}"> </span> <br/>
<!-- DTO -->
DTO : <span th:text="${dto}"> </span> <br/>
DTO.NAME : <span th:text="${dto.name}"> </span> <br/>
DTO.AGE : <span th:text="${dto.age}"> </span> <br/>
DTO.ADDR : <span th:text="${dto.addr}"> </span> <br/>
<hr/>

<h2>TH : 반복문</h2>
<th:block th:each="dto:${list}">
    <div th:text="${dto}"></div>
</th:block>
<hr/>
<h2>TH : 분기문</h2>
<th:block th:if="${isAuth}">
    <div>인증 완료!</div>
</th:block>
<th:block th:unless="${isAuth}">
    <div>인증 실패!</div>
</th:block>
<h2>TH : A TAG</h2>
<a href="/param/p01?name=홍길동">/param/p01 이동</a> <br/>
<a th:href="@{/param/p01(name=${name}) }">th:/param/p01 이동</a> <br/>
<a th:href="@{/param/p06(name=${dto.name},age=${dto.age},addr=${dto.addr})}">th:/param/06</a> <br/>

<!--  푸터 영역 가져오기  -->
<!--<th:block th:insert="~{th/fragments/footer::footerFragment}"/>-->

<script th:inline="javascript">
    //name 확인
    console.log( [[ ${name} ]] );

    //dto 확인
    console.log( [[ ${dto} ]] );

    //list 확인
    console.log( [[ ${list} ]] );
</script>
</body>
</html>